* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    pointer-events: none;
}

canvas {
    display: block;
}